.CardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
  margin: 5px;
  /* flex: 0 1 calc(25% - 10px); */
  background-color: unset !important;
  color: rgba(2,99,162,1.0);
  -webkit-box-shadow: 0px -1px 1px 0.5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 1px 0.5px rgba(0,0,0,0.75);
box-shadow: 0px -1px 1px 0.5px rgba(0,0,0,0.75);
}

.card > .CardLink, .card > .CardLink:hover {
  color: unset;
  text-decoration: none;
}

.card-body {
  padding: 10px;
}