body {
  margin: 0;
  font-family: 'Arial Narrow', sans-serif !important;
  padding: 0;
}

ul, li, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.DataNotFound {
  background: white;
  padding: 20px;
}